html
	head
		title Tesla OS Statistics
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Edwin A. // Home
		link(rel='stylesheet', type='text/css', href='css/style.css')
		meta(name='theme-color', content='#00BCD4')
		script(type='text/javascript' src='js/app.min.js')
		script(type='text/javascript' src='js/charts.min.js')
	body
		noscript
			h1 No JavaScript? Okay...
			p No content for you then, since this page needs JavaScript in order to work properly :(
			p
				| Click 
				a(href='http://enable-javascript.com/').plsUnderline here
				|  for steps on enabling JavaScript in your browser.

		section.content
			